<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>

    {% if request.user.is_authenticated %}
    <p>Hello {{request.user}} , create a game?</p>
    <a href="/create">Creat a Game</a><br>
    <a href="/logout">Logout</a> {% else %}
    <p>You're Not Logged In yet!</p>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a> {% endif %}

    <br><br><br>


	<div>
	<p>All Game Stats!</p>
	<table>
	<thead>
		<tr>
			<th>Ball Type</th>
			<th>Game</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="football_page/">Football</td>
			<td><a href="fb_gamepage/">Game #1</a></td>
		</tr>
	</tbody>
</table>

	</div>

</body>

</html>